**/lib/**
**/struct.js
**/stdlib/visitor.js
**/val/**
**/es/**
**/dist/**
**/flow-typed/**
**/flow/**
**/node_modules/**
**/**/*.flow
**/logs/**
**/npm/**
**/*.bs.js
**/*.bundle.js
**/effector.browser.js
scripts/browser/**
tools/builder.js
**/examples/**
