parser: babel-eslint
parserOptions:
  ecmaVersion: 2018
extends:
  # - 'plugin:flowtype/recommended'
  - 'plugin:react/recommended'
plugins:
  - babel
  - flowtype
  - jest
  - react
  - react-hooks
settings:
  flowtype:
    onlyFilesWithFlowAnnotation: true
  react:
    version: '16.7'
    flowVersion: '0.91'
env:
  node: true
  browser: false
  worker: true
  es6: true
  jest: true
  jasmine: true
rules:
  # flowtype/no-weak-types: 'off'
  # flowtype/generic-spacing: 'off'
  # flowtype/space-after-type-colon: 'off'
  react-hooks/rules-of-hooks: error
  react/react-in-jsx-scope: 'off'
  react/no-children-prop: 'off'
  react/prop-types: 'off'
  react/display-name: 'off'
  react/jsx-key: 'off'
  react/no-unknown-property: 'off'
  no-console: 'off'
  no-cond-assign: warn
  no-unused-vars: warn
  prefer-template: 'off'
  no-nested-ternary: warn
  no-unneeded-ternary: warn
  no-underscore-dangle: off
  prefer-const: warn
  no-unused-labels: 'off'
  no-extra-bind: error
  no-case-declarations: error
  no-useless-call: error
  prefer-arrow-callback:
    - error
    - allowNamedFunctions: true
  object-shorthand:
    - error
    - always
    - avoidQuotes: true
      ignoreConstructors: true
      avoidExplicitReturnArrows: true
  no-extra-parens: 'off'
  multiline-ternary: 'off'
  arrow-body-style:
    - error
    - as-needed
  no-var: error
  no-duplicate-imports: 'off'
  quotes:
    - error
    - single
    - allowTemplateLiterals: true
      avoidEscape: true
  max-len:
    - warn
    - code: 80
      tabWidth: 2
  key-spacing:
    - warn
    - beforeColon: false
      afterColon: true
      mode: strict
  comma-spacing:
    - error
    - before: false
      after: true
  block-spacing:
    - error
    - never
  object-curly-spacing:
    - warn
    - never
  semi-spacing:
    - error
    - before: false
      after: true
  indent:
    - 2
    - 2
    - SwitchCase: 1
  operator-linebreak:
    - warn
    - after
    - overrides:
        '?': before
        ':': before
        '||': before
        '|': before
        '&': before
        '&&': before
  newline-per-chained-call:
    - error
  keyword-spacing:
    - error
  space-unary-ops:
    - error
    - words: true
      nonwords: false
  no-whitespace-before-property: error
  generator-star-spacing:
    - error
    - before: false
      after: true
  arrow-spacing:
    - error
    - before: true
      after: true
  space-before-function-paren:
    - error
    - never
  rest-spread-spacing:
    - error
    - never
  no-alert: error
  no-bitwise: 0
  no-caller: error
  no-global-assign: error
  no-eval: error
  no-implied-eval: error
  no-proto: error
  no-iterator: error
  no-lone-blocks: 'off'
  no-self-compare: error
  no-self-assign:
    - error
    - props: true
  no-invalid-regexp:
    - error
    - allowConstructorFlags:
        - u
        - 'y'
  no-with: error
  no-new-func: error
  prefer-rest-params: error
  prefer-spread: error
  no-extra-semi: off
  semi:
    - error
    - never
