.DS_Store
.idea
.history
.publish
*.sublime-workspace
.vscode
*.*~
*.swp

lib/**
es/**
debug.log
lerna-debug.log
node_modules
npm-debug.log
cldr
coverage/
.nyc_output
**/dist/**
logs/**
typings.json
typings/**
src/**/*.draft.js
test/storage.json
**/.happypack/**

modules.dot
modules.svg
stats/**/*.html
npm/@effector/**
npm/effector/**
npm/effector-react/**
npm/effector-vue/**
npm/bs-effector/**
npm/bs-effector-react/**
.merlin
.bsb.lock
npm-debug.log
lib/bs/**
val/**
.size-snapshot.json
**/.cache/**
tools/builder.js
integrations/webpack/npm/**
