.DS_Store
.idea
.publish
*.sublime-workspace
.vscode
*.*~
*.swp

lib/**
es/**
debug.log
lerna-debug.log
node_modules
npm-debug.log
cldr
coverage/
.nyc_output
dist/**
**/docs/**
logs/**
typings.json
typings/**
src/**/*.draft.js
test/storage.json
flow-typed/npm/**
**/.happypack/**
