.DS_Store
.idea
.publish
*.sublime-workspace
.vscode
*.*~
*.swp

lib/**
es/**
debug.log
lerna-debug.log
node_modules
npm-debug.log
cldr
coverage/
.nyc_output
dist/**
**/docs/**
logs/**
typings.json
typings/**
src/**/*.draft.js
test/storage.json
flow-typed/npm/**
**/.happypack/**


src_unused
src_alt
npm/effector.cjs.js
npm/effector.cjs.js.map
npm/effector.cjs.js.flow
npm/effector.es.js
npm/effector.es.js.map
npm/effector.es.js.flow
npm/index.d.ts
npm/index.js.flow
npm/CHANGELOG.md
npm/README.md
