{
  "plugins": [
    [
      "../babel-plugin",
      {
        "filename": true,
        "addLoc": true,
        "fabrics": [
          "./src/babel/__tests__/a",
          "src/babel/__tests__/fixtures/b",
          "c/d",
          "~/e",
          "@/f",
          "./src/babel/__tests__/g.ts"
        ]
      }
    ]
  ]
}
