{
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "effector/babel-plugin",
    "effector/babel-plugin-react"
  ],
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "shippedProposals": true,
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions"
          ]
        }
      }
    ],
    "linaria/babel"
  ]
}
