:root {
  --gutter: 30px;
  --link-color: #007eff;
  --text-color: #333;
  --error-color: #fff0f0;
}

.CodeMirror-lint-tooltip {
  z-index: 10000;
}

.navPusher {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#version {
  font-size: 0.5em;
  line-height: 0;
  color: #fffc;
}

#version a {
  color: inherit;
  display: inline;
}

#try-wrapper {
  flex-grow: 1;
  display: contents;
}

.try-inner {
  display: grid;
}
.header {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.secondanary-tabs {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-left: 1px solid #ddd;
}
.toolbar {
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar.show-console .console-tab {
  background: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.toolbar .tab {
  border-right: 1px solid #ddd;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
  margin: 0;
}
/* .stats > div {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ddd;
} */

.editor {
  border-left: 1px solid #ddd;
}

.editor.sources {
}

.editor.results {
}

.header-tabs {
  border-left: 1px solid #ddd;
  background-color: #f7f7f7;
}
.header-tabs.toolbar.show-graphite .graphite-tab,
.header-tabs.toolbar.show-dom .dom-tab {
  background: #fff;
}

.dom {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  overflow: auto;
}

.console > :first-child {
  border-top: 1px solid #fff;
}

.errors {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.errors.has-errors {
  z-index: 20;
  background-color: var(--error-color);
  border-left: 1px solid #ffd6d6;
  color: #f00;
}

.errors.no-errors {
  opacity: 0.5;
  z-index: -20;
}

.arrow {
  position: absolute;
  content: '';
  bottom: 100%;
  height: 0;
  width: 0;
  border: 0.5em solid transparent;
  pointer-events: none;
  border-bottom-color: rgba(0, 0, 0, 0.6);
  margin-left: 0.5em;
}
.try-tooltip {
  position: absolute;
  z-index: 100;
  top: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.15em 0.8em;
  border-radius: 0.25em;
  font-size: 0.8rem;
}
.try-button {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding: 1em 2em;
  align-items: center;
}
.try-button:hover {
  color: $primaryColor;
  cursor: pointer;
}
.try-button-share {
  position: relative;
}
.try-button-share input {
  background: #f6f4f4;
  transition: all 250ms;
  width: 0;
  padding: 0;
  border: none;
  outline: none;
}
.try-button-share:hover input {
  width: 15vw;
  margin-right: 1em;
}
.try-button-share:hover .try-tooltip {
  display: block;
}
.try-button-share .try-tooltip {
  display: none;
  right: 1em;
  white-space: nowrap;
}
.try-button-share .try-tooltip .arrow {
  right: 2.5em;
}

@media (max-width: 699px) {
  .navPusher {
    min-height: calc(100vh - 100px);
  }
  .try-inner {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    grid-template-rows: 50px auto repeat(7, minmax(100px, 33vh)) auto repeat(
        3,
        minmax(100px, 33vh)
      );
  }
  .header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .header-tabs {
    grid-column: 1 / span 1;
    grid-row: 10 / span 1;
  }
  .secondanary-tabs {
    scroll-snap-destination: top;
    grid-column: 1 / span 1;
    grid-row: 11 / span 1;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .editor.sources {
    scroll-snap-destination: top;
    grid-column: 1 / span 1;
    grid-row: 3 / span 3;
  }
  .dom {
    border-top: 1px solid #ddd;
    scroll-snap-destination: top;
    grid-column: 1 / span 1;
    grid-row: 6 / span 4;
  }
  .editor.results {
    border-top: 1px solid #ddd;
    scroll-snap-destination: top;
    grid-column: 1 / span 1;
    grid-row: 6 / span 4;
  }
  .errors {
    scroll-snap-destination: top;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-bottom: 1px solid #ffd6d6;
  }
}
@media (min-width: 700px) {
  .try-inner {
    overflow: hidden;
    height: 100%;
    grid-template-columns: 200px minmax(200px, 2fr) minmax(200px, 1fr);
    grid-template-rows: 50px 36px repeat(3, minmax(100px, 1fr));
  }
  .header {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .header-tabs {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .dom {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
  }
  .editor.sources {
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
  }

  .editor.results {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
  }

  .errors {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
  }
  .secondanary-tabs {
    grid-column: 3 / span 1;
    grid-row: 5 / span 2;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

.page-header {
  height: 40px;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end !important;
}

.page-title {
  margin-right: auto !important;
}

.page-title .subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.octicon {
  display: inline-block;
  vertical-align: text-top !important;
  fill: currentColor;
}

.nav-link {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.view-gituhb {
  display: inline !important;
}

.editor {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 50%;
  position: relative;
}

.CodeMirror {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}

.page-body {
  padding: var(--gutter) 0;
  height: 100%;
}
