
.title {
  @apply p-0 text-base border-0 m-0 mb-4 uppercase font-extralight;
}

.contents {
  @apply text-sm pr-3;
}

.link {
  @apply scroll-py-6 scroll-my-6 my-2 max-w-full relative;
}

.link::before {
  content: '';
  @apply absolute top-0 bottom-0 right-0 w-8;
  background: linear-gradient(90deg, transparent, var(--theme-bg, white));
}

.link a {
  @apply flex overflow-clip whitespace-nowrap;
}

.link a:hover {
  color: var(--theme-text-dark);
  text-decoration: underline;
}

.link.active a {
  color: var(--theme-text-accent);
}

.level1:not(:first-child) {
  @apply mt-6;
}

.level1 a {
  @apply font-bold;
  color: var(--theme-text);
}

.level2 {
  @apply pl-3;
}

.level2:not(:first-of-type) {
  @apply mt-3;
}

.level2 a {
  @apply font-medium;
  color: var(--theme-text-light)
}

.level3 {
  @apply pl-7;
}

.level3 a {
  @apply font-normal;
  color: var(--theme-text-light)
}
