---
import PageActions from "../PageActions/PageActions.astro";

interface Props {
  [key: string]: any;
}

const props = Astro.props as Props;
const documentMeta = (Astro.locals.documentMeta ?? {}) as {
  documentId?: string;
  lang?: string;
};
---

<h1 {...props}><slot /></h1>
<PageActions documentId={documentMeta.documentId} lang={documentMeta.lang} />
