code .token.keyword {
  color: #89ddff;
}

code .token.string,
code .token.attr-value {
  color: #c3e88d;
}

code .token.punctuation {
  color: #89ddff;
}

code .token.function-variable,
code .token.function {
  color: #82aaff;
}

code .token.operator {
  color: #c792ea;
}

code .token.tag {
  color: #f07178;
}

code .token.class-name {
  color: #ffcb6b;
}

code .token.attr-name {
  color: #c792ea;
}

code .token.comment {
  color: #676e95;
}

pre[class*="language-"] {
  background-color: #292d3e;
  color: #d6daf1;
}
