.canvas {
  background-color: #d3d3d3;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
}
.canvas svg path {
  stroke: #666;
  stroke-width: 1.4;
  fill: none;
}
.node {
  display: inline-flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  white-space: nowrap;
  border: 1px solid #808080;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  position: relative;
  position: absolute;
  user-select: none;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
}
.node-header {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #808080;
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  height: 26px;
  user-select: none;
  cursor: default;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.node-content {
  display: flex;
  flex-flow: row nowrap;
}
.node-panel {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  margin: 0 10px;
  font-size: 13px;
}
.node-panel .node-row {
  display: flex;
  flex-shrink: 0;
  height: 20px;
  flex-flow: row-nowrap;
  white-space: nowrap;
  align-items: center;
  user-select: none;
  cursor: default;
}
.node-panel .node-row-point {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: none;
  transition: box-shadow 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.node-panel .node-row-point::before {
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-width: 3px;
  border-right: 0;
  border-left-color: rgba(0, 0, 0, 0.9);
  margin-right: -3px;
}
.node-panel .node-row-point:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.node-panel .node-row-point.active {
  background-color: #f00;
}
.node-panel.panel-left .node-row {
  justify-content: flex-start;
}
.node-panel.panel-left .node-row .node-row-point {
  order: -1;
  margin-right: 10px;
}
.node-panel.panel-right .node-row {
  justify-content: flex-end;
}
.node-panel.panel-right .node-row .node-row-point {
  margin-left: 10px;
}
.node.class-event {
  border-color: #c80000;
}
.node.class-event .node-header {
  background-color: #c80000;
  justify-content: flex-start;
}
.node.class-expression,
.node.class-store {
  border-color: #1e641e;
}
.node.class-expression .node-header,
.node.class-store .node-header {
  background-color: #1e641e;
  justify-content: flex-start;
}
.node.class-function {
  border-color: #1e1e64;
}
.node.class-function .node-header {
  background-color: #1e1e64;
}
.node.class-getter,
.node.class-setter,
.node.class-extend {
  background-color: #d3d3d3;
}
