
.language-select {
	color: var(--theme-text-light);
	background-color: transparent;
	position: relative;
	display: flex;
	align-items: center;
  justify-content: center;
	pointer-events: auto;
	overflow: visible;
}

.language-select  svg {
	pointer-events: none;
}

.language-select .language-select-button {
	display: flex;
	appearance: none;
	align-items: center;
	padding: 0;
	color: var(--theme-text);
	transition: color .3s;
}

.language-select:hover .language-select-button {
	color: var(--theme-text-light);
}

.language-select .language-select-menu {
	position: absolute;
	top: 150%;
	right: -1rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s, visibility .25s, transform .25s;
}

.language-select:hover .language-select-menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.menu-items {
	border-radius: 1rem;
	padding: 0.8rem;
	min-width: 8rem;
	border: 1px solid var(--theme-divider);
	background-color: var(--theme-bg);
	overflow-y: auto;
	box-shadow: 0 12px 32px rgba(0, 0, 0, .1),
		0 2px 6px rgba(0, 0, 0, .08);
}

.menu-group {
	display: flex;
	flex-direction: column;
}

.menu-link {
	display: block;
	border-radius: 0.5rem;
	padding: 0 0.8rem;
	line-height: 2rem;
	font-size: 0.9rem;
	font-weight: 500;
	color: currentColor;
	white-space: nowrap;
	text-align: start;
	transition: background-color .25s, color .25s;
}

.menu-link:hover {
	color: var(--theme-accent);
	background-color: var(--theme-divider);
}
