.theme-toggle {
  @apply flex gap-1 items-center rounded-full px-2 py-1;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: none;
  color: var(--theme-text-accent);
  @apply ring-1 ring-current ring-offset-2;
}

.theme-toggle > label {
  @apply flex relative justify-center items-center rounded-full opacity-50 cursor-pointer;
  color: var(--theme-code-inline-text);
}

.theme-toggle .checked {
  opacity: 1;
  color: var(--theme-accent);
}

input[name="theme-toggle"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
