---
interface Props {
  kind?: "major" | "minor";
  emoji?: string;
  title: string;
}

const { kind, emoji, title } = Astro.props;
---

<article class:list={{ major: kind === "major", minor: kind === "minor" }}>
  <div class="emoji">{emoji}<slot name="emoji" /></div>
  <div class="title">{title}</div>
  <p><slot /></p>
</article>

<style>
  article {
    @apply z-10 flex flex-col gap-2 rounded-xl p-3 text-center;
    background-color: var(--theme-card);
    border: 1px solid var(--theme-divider);
  }

  article .emoji {
    @apply flex h-10 w-10 items-center justify-center self-center text-2xl;
  }

  article .title {
    @apply text-base font-semibold;
  }

  article p {
    @apply text-xs;
    color: var(--theme-text);
  }

  /* Mobile landscape / small tablet */
  @media (min-width: 480px) {
    article {
      @apply gap-3 rounded-2xl p-3;
    }

    article .emoji {
      @apply h-12 w-12 text-3xl;
    }

    article .title {
      @apply text-lg;
    }

    article p {
      @apply text-sm;
    }
  }

  /* Tablet */
  @media (min-width: 640px) {
    article {
      @apply gap-4 rounded-3xl p-4;
    }

    article .emoji {
      @apply h-16 w-16 text-4xl;
    }

    article .title {
      @apply text-xl;
    }

    article p {
      @apply text-sm;
    }
  }

  /* Desktop */
  @media (min-width: 768px) {
    article .title {
      @apply text-2xl;
    }

    article p {
      @apply text-base;
    }
  }

  article.major {
    background-image: radial-gradient(
      circle at 50% 30%,
      hsla(var(--color-primary-50), 0.4),
      hsla(var(--color-primary-80), 0.3) 25%,
      var(--theme-bg) 90%
    );
  }

  @media (min-width: 480px) {
    article.major {
      @apply row-span-2;
    }
  }

  article.major .emoji {
    @apply h-auto w-full text-5xl;
  }

  @media (min-width: 480px) {
    article.major .emoji {
      @apply h-[50%] text-6xl;
    }
  }

  @media (min-width: 768px) {
    article.major .emoji {
      @apply h-[60%] text-8xl;
    }
  }

  article.major .title {
    @apply text-xl;
  }

  @media (min-width: 640px) {
    article.major .title {
      @apply text-2xl;
    }
  }

  @media (min-width: 768px) {
    article.major .title {
      @apply text-3xl;
    }
  }

  @media (min-width: 768px) {
    article.minor {
      @apply col-span-2;
    }
  }

  article.minor p {
    @apply mx-auto max-w-[50ch];
  }
</style>
