{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-attributes"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "plugins": [
          "prettier-plugin-tailwindcss",
          "prettier-plugin-astro",
          "prettier-plugin-organize-attributes"
        ]
      }
    }
  ]
}
